<style>
    #n {
        font-size: 30px;
    }
    div{
        background-color: aquamarine;
        display: flex;
        width: 100px;
    }
</style>



<h1>{{ nama_aplikasi }}</h1>

<img src = "https://qph.cf2.quoracdn.net/main-qimg-305c4af61154add4ecd0cb9dd99b0f18"></img>


<h5>Name: </h5>
<p>{{nama}}<p>
<h5>Class: </h5>
<p>{{ kelas }}<p>
    
<p>




<h3>Items:</h3>
<ul>
    {% for item in items %}
    <li>
        <div>
            <h3 id="n">{{ item.name }}</h3>
        </div>
        <p>Amount: {{ item.amount }}</p>
        <p>Description: {{ item.description }}</p>
    </li>
    {% endfor %}
</ul>

