{% extends 'base.html' %}

{% block content %}


<h1>{{ nama_aplikasi }}</h1>

<img src = "https://qph.cf2.quoracdn.net/main-qimg-305c4af61154add4ecd0cb9dd99b0f18"
width="150", height="200"></img>


<h5>Name: </h5>
<p>{{nama}}<p>
<h5>Class: </h5>
<p>{{ kelas }}<p>
<h5>Logged in as: </h5>
<p>{{ user_name }}<p>


<h3>Items:</h3>
{% if messages %}
<a class="messages">
    {% for message in messages %}
    <a {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </a>
    {% endfor %}
</a>
{% endif %}

<p>
Kamu menyimpan {{items_amount}} jenis item pada aplikasi ini

<table class="styled-table">
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Add 1</th>
        <th>Remove 1</th>
        <th>Remove All</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data item di bawah baris ini {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date_added}}</td>
            <td><a href="/add/{{item.pk}}/"><button>+</button></a></td>
            <td><a href="/remove/{{item.pk}}/"><button>-</button></a></td>
            <td><a href="/remove-all/{{item.pk}}/"><button>Remove All</button></a></td>
        </tr>
    {% endfor %}
</table>

<br />

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:create_item' %}">
    <button>
        Add New Item
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}