{% extends 'base.html' %}

{% block content %}
{% load static %}
  <ul class="my-navbar">
    <li class="nama-aplikasi">{{nama_aplikasi}}</li>
    <li class="user-name">
      Welcome, {{user_name}}
      <a href="{% url 'main:logout' %}"> Logout </a>
    </li>
  </ul>

<div class="aurora-background">
    <div>Website made by:</div>
    <div><button class="identitas">{{nama}}</button></div>
    <div><button class="identitas">{{ kelas }}</button></div>
</div>

    

<h3>Items:</h3>
{% if messages %}
<a class="messages">
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </p>
    {% endfor %}
</a>
{% endif %}

<p>
Kamu menyimpan {{items_amount}} jenis item pada aplikasi ini

<table class="styled-table">
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Add 1</th>
        <th>Remove 1</th>
        <th>Remove All</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data item di bawah baris ini {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date_added}}</td>
            <td><a href="/add/{{item.pk}}/"><button class="edit">+</button></a></td>
            <td><a href="/remove/{{item.pk}}/"><button class="edit">-</button></a></td>
            <td><a href="/remove-all/{{item.pk}}/"><button class="edit">X</button></a></td>
        </tr>
    {% endfor %}
</table>

<br />

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:create_item' %}">
    <button class="add-new">
        Add New Item
    </button>
</a>

{% endblock content %}